@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.settings-content {
    font-family: 'Montserrat' !important;
    text-align: center;
    height: 80vh;
    max-width: 600px;
    background-image: linear-gradient(to bottom right, #211522, #613659);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.accountsInfo {
    font-family: 'Montserrat' !important;
    text-align: left;
    height: 80vh;
    max-width: 600px;
    background-image: linear-gradient(to bottom right, #211522, #613659);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow-y: scroll;
}

.account {
    top: 95%;
    position: relative;
    height: 50vh;
    background-image: linear-gradient(to bottom right, #211522, #613659);
    border-radius: 30px;
    margin-top: 20vh;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.account_button {
    border-radius: 30px;
    padding: -5px;
}