@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat' !important; /* Change to your preferred font */
    background-color: #f8f9fa; /* Set the background color */
}

.signup-container {
    background-image: linear-gradient(to bottom right, #6e2b62, #33243f, #211522, #613659);
	height: 110vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    position:relative;
    overflow-y: auto;
}

.signup-form {
	position: relative;
    margin-top: -15vh;
	background-image: linear-gradient(to bottom right, #4d1b4e, #281e2c);
	color: white;
	width: 70vw;
	max-width: 400px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	padding: 10px;
	text-align: center;
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.form {
    max-width: 400px;
    margin: 0 auto;
}

.h3 {
    font-size: 18px;
}

.mb-3 {
    margin-bottom: 15px;
}

.user-input-field {
    width: 100%;
    padding: 5px;
    margin-bottom: 1px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.error {
  position: relative;
}

.error-border {
  border: 2px solid red;
}

.d-grid {
    display: grid;
}

.btn {
    background-color: #6e2b62;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5c2257;
}

.forgot-password,
.new-account {
    font-size: 14px;
    color: #f1f1f1e1;
    margin-top: 10px;
}

.test-right {
    text-align: center;
}

.error-messages {
    color: red;
    margin-top: 10px;
}

.required-field::before {
    content: '*';
    color: red;
    margin-right: 5px;
}
