.content {
    font-family: 'IBM Plex Mono', Impact;
    text-align: center;
    height: 80vh;
    max-width: 600px;
    background-image: linear-gradient(to bottom right, #211522, #613659);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.accountsInfo {
    font-family: 'IBM Plex Mono', Impact;
    text-align: left;
    height: 80vh;
    background-image: linear-gradient(to bottom right, #211522, #613659);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow-y: auto;
}

.account {
    top: auto;
    position: sticky;
    height: fit-content;
    background-image: linear-gradient(to bottom right, #211522, #613659);
    border-radius: 30px;
    margin-top: 0vh;
    padding: flex 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.account_button {
    border-radius: 30px;
    padding: -5px;
}