
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.transaction-container {
	background-image: linear-gradient(to bottom right, #6e2b62, #33243f, #211522, #613659);
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
  overflow-y: fit;
}

.transactionInfo {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  height: 80vh;
  max-width: 600px;
  background-image: linear-gradient(to bottom right, #211522, #613659);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start */
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-y: scroll; /* Show scrollbar as needed */
  margin-bottom: 10px; /* Space after the last account */
  overflow-y: scroll; /* Keep it as scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.transaction-content {
  font-family: 'Montserrat' !important;
  text-align: center;
  height: 80vh;
  max-width: 600px;
  background-image: linear-gradient(to bottom right, #211522, #613659);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.transaction {
    background-image: linear-gradient(to bottom right, #211522, #613659);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 5px; /* Add space between the accounts */
}

.transaction_button {
  border-radius: 30px;
  padding: 0px;
  background-color: #6e2b62;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

  .error {
    border: 2px solid red;
  }

